{% extends 'base.html' %}

{% load static %}

{% block extra_css %}

    <link rel="stylesheet" type="text/css" href="{% static 'checkout/css/checkout.css' %}">

{% endblock %}

{% block extra_title %} 
Checkout success
{% endblock %}

{% block content %}

    <div class="container-fluid mb-auto">
        <div class="row clr-gey p-3"></div>
        <h1 class="text-center text-white"> Thank you for your order!</h1>
        <hr>
        <br>
        <div class="row">
            <div class="col-12 m-auto text-center text-white">
                <p> An email will be sent out to you, with order confirmation and details.</p>
                <p> Your order #. <span class="badge badge-secondary">{{order.order_number}}</span> - Pending</p>
                <p>Order Date: {{ order.date_ordered }}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-sm-12 border-right">
                <div class="card border-secondary mb-3">
                    <div class="card-header text-center"> <i class="fa-solid fa-house"></i> &nbsp; <strong> Shipping Address </strong></div>
                    <div class="card-body text-secondary">
                        <p> Address Line 1: {{ order.address1 | capfirst}}</p>
                        {% if order.address2 %}
                            <p> Address Line 2: {{ order.address2 | capfirst}}</p>
                        {% endif %}
                        <p> City: {{ order.city | capfirst}}</p>
                        {% if order.county %}
                            <p> County:{{ order.county | capfirst}}</p>
                        {% endif %}
                        <p> Country: {{ order.country | capfirst}}</p>
                        {% if order.postal_code %}
                            <p> Postal Code: {{ order.postal_code | capfirst}}</p>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-12 border-right border-md-none">
                <div class="card border-secondary mb-3">
                    <div class="card-header text-center"> <i class="fa-solid fa-house"></i> &nbsp; <strong> Billing Address </strong></div>
                    <div class="card-body text-secondary">
                        <p> Address Line 1: {{ order.address1 | capfirst}}</p>
                        {% if order.address2 %}
                            <p> Address Line 2: {{ order.address2 | capfirst}}</p>
                        {% endif %}
                        <p> City: {{ order.city | capfirst}}</p>
                        {% if order.county %}
                            <p> County:{{ order.county | capfirst}}</p>
                        {% endif %}
                        <p> Country: {{ order.country | capfirst}}</p>
                        {% if order.postal_code %}
                            <p> Postal Code: {{ order.postal_code | capfirst}}</p>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-12">
                <div class="card border-secondary mb-3">
                    <div class="card-header text-center"> <i class="fa-solid fa-check"></i> &nbsp; <strong> Order
                            Summmary </strong></div>
                    <div class="card-body text-secondary">
                        {% for item in order.orderitems.all %}
                            <p> <strong>Name:</strong>  {{ item.product.name }}</p>
                            <p> <strong>Qty:</strong> {{ item.quantity}}</p>
                            <p> <strong>Price:</strong> £ {{ item.product.price}}</p>
                            <hr>
                        {% endfor %}
                        <hr>
                        <br>
                        <div class="text-right">
                            <p> Subtotal: £{{order.total}}</p>
                            <p> Delivery: £{{order.delivery_cost}}</p>
                            <p> <strong>Order Total:</strong> £{{order.order_total}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="navbar navbar-expand-lg bg-light row mb-0">
        <div>
            <ul class="ml-100">
                {% if from_profile %}
                    <li class="d-inline">
                        <a class="btn-hover clr-grey" href="{% url 'view_profile' %}"> <i class="fa-solid fa-arrow-left"></i> &nbsp; Back to my profile </a>
                    </li>
                {% else %}
                    <li class="d-inline">
                        <a href="{% url 'products' %}" class="btn-hover clr-grey"><i class="fa-solid fa-arrow-left"></i> &nbsp; Back to shop </a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>

{% endblock %}