{% extends 'base.html' %}

{% load static %}

{% load mathfilters %}

{% block extra_css %}


  <link rel="stylesheet" type="text/css" href="{% static 'basket/css/basket.css' %}">

{% endblock %}

{% block extra_title %} 
 Basket
{% endblock %}

{% block content %}

  <div class="container-fluid text-white">
    <div class="row">
      <div class="col-12">
        <h1 class="h5 mt-3"> Your Basket </h1>
        <br>
        <hr>
      </div>
      {% if basket_items %}
      <div class="d-block d-md-none text-center">
        <div class="row">
          <div class="col mb-3">
            {% include "basket/checkout_buttons.html" %}
          </div>
        </div>

        {% for item in basket_items %}
        <div class="row">
          <div class="col-12 col-sm-6 mb-2">
            {% include "basket/product_image.html" %}
          </div>
          <div class="col-12 col-sm-6 mb-2">
            {% include "basket/product_info.html" %}
          </div>
          <div class="col-12 col-sm-6 order-sm-last">
            <p class="my-0">Price Each: £{{ item.product.price }}</p>

          </div>
          <div class="col-12 col-sm-6">
            {% include "basket/quantity_form.html" %}
          </div>
        </div>
        <div class="row">
          <div class="col">
            <hr>
          </div>
        </div>
        {% endfor %}
      </div>

      <div class="table-responsive rounded d-none d-md-block">
        {% for item in basket_items %}
        <table class="table table-sm table-borderless m-auto">
          
          <thead>
            <tr class="text-white">
              <th scope="col"></th>
              <th scope="col">Product</th>
              <th scope="col">Price</th>
              <th scope="col">Qty</th>
              <th scope="col">Total</th>
            </tr>
          </thead>
          <tbody>
            
            <tr>
              <td class="p-3 w-25">

                {% include 'basket/product_image.html' %}

              </td>

              <td class="py-3 text-white">
                {% include 'basket/product_info.html' %}

              </td>
              <td class="py-3">

              </td>
              <td class="py-3 w-25 text-white">
                {% include 'basket/quantity_form.html' %}

              </td>
              <td class="py-3 text-white">
                <p> £{{ item.product.price | mul:item.quantity }}</p>

              </td>
            </tr>
          </tbody>
        </table>
        <div>
          
        </div>
        <hr>
        {% endfor %}
        <div class="col-12 mt-2 mb-3 text-right">
          <a href="{% url 'checkout' %}" class="p-2 btn bg-dark text-white border-dark rounded-1">Proceed to
            check out &nbsp; <i class="fa-solid fa-lock"></i>
          </a>

        </div>
        {% else %}
        <div class="row">
          <div class="col-12">
            <p class="ml-2">Your basket is empty </p>
          </div>
        </div>
        {% endif %}
      </div>
    </div>
  </div>
{% endblock %}

{% block extra_js %}
{{ block.super }}

  <script src="{% static 'basket/js/basket.js' %}"></script>
    
{% endblock %} 