@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');



html {
    height: 100%;
}

/** -------------------------------------Padding, Margins, Text, **/
body {
    background: url('https://s12.gifyu.com/images/SQDq5.jpg') no-repeat center center fixed; 
    background-size:cover;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    color: #696969;
}



header {
    margin: 0;
}

.custom-toggler.navbar-toggler {

    border-color: #C35355
}

h1,
h2,
h3,
h4,
h5 {
    margin: 0;
}

ul {
    list-style: none;
}

a:link {
    text-decoration: none;
    cursor: pointer;
}

.list-inline-item {
    text-decoration: none;
}

.dropdown-toggle::after {
    content: none;
}

.btn-outline-secondary.btn {
    padding: 0.2rem !important;
    margin-top: 4px;
}

.btn-border {
    border-left: 0.5px solid;
    color: #B9B6C8 !important;
}

.btn-hover:hover {
    text-decoration: underline #C35355 !important;
}

.logo-font {
    font-family: 'Aclonica', sans-serif !important;
    font-size: 2rem;
    color: black !important;
    font-weight: bold;
}

input[name='q']::placeholder {
    color: #CFCFCF !important;
}

/** -------------------------------------Home images section **/

/** This CSS is from:

Hover.css (http://ianlunn.github.io/Hover/)
 * Version: 2.3.2
 * Author: Ian Lunn @IanLunn
 * Author URL: http://ianlunn.co.uk/
 * Github: https://github.com/IanLunn/Hover 


**/

/* Grow Shadow */
.hvr-grow-shadow {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: box-shadow, transform;
    transition-property: box-shadow, transform;
}

.hvr-grow-shadow:hover,
.hvr-grow-shadow:focus,
.hvr-grow-shadow:active {
    box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

/** ------------------------------------- End of home images section **/

/** -------------------------------------Footer Section **/

#footer {
    bottom: 0;
    position: relative;
    margin-top: auto;
    
}

.social-link {
    font-size: 2rem;
    color: #C35355;
    margin: auto !important;
}
.margin-rite {
    margin-right: 10rem;
}
.social-link:hover {
    color: #ac7f7f !important;
}

.nav-links:hover {
    color: #C35355 !important;
}

.subscribe-btn:hover {
    background-color: #ac7f7f !important;

}

/* ------------------------------- Toasts section */

.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 999999999999;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 0;
}

.toast-body {
    height: auto;
    overflow-x: hidden;
    overflow-y: scroll;
}

/** -------------------------------------Background colours and Colours **/

.clr-grey {
    color: #8C8C8C !important;
}

.clr-red {
    color: #C35355;
}

.bg-brown {

    background-color: #BAA89B;

}

.bg-black {
    background-color: black;
}

.bg-logo-red {
    background-color: #C35355 !important;
}

.bg-grey, hr {

    background-color: #E6E4E7 !important;

}

.bg-orange {
    background-color: #FF862A;
}

.footer-bg-clr {

    background-color: #1A191B;
}


/* Product Form */

.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type="file"] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    opacity: 0;
    cursor: pointer;
}

.custom-checkbox .custom-control-label::before {
    border-radius: 0;
    border-color: #dc3545;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    background-color: #dc3545;
    border-color: #dc3545;
    border-radius: 0;
}


/*---------------------------- Media queries **/
@media screen and (max-width:991px) {
    #image-bg-1 {
        display: none;
    }

    .nav-item a {
        font-size: 2rem;
    }
    .nav-link p {
        font-size:x-small !important;
    }
}

@media screen and (max-width:767px) {
    #image-bg-3 {
        display: none;
    }

    .nav-item a {
        font-size: 1.5rem;
    }
}

@media screen and (max-width:500px) {
    .social-link {
        font-size: 20px;
        padding: 15px;
    }

    .nav-item a {
        font-size: 1rem;
    }
}

@media screen and (max-width:405px) {
    .fnt-size {
        font-size: small !important;
        margin: 0;
        padding:0%;
    }
}

@media screen and (max-width:300px) {
    .margin-rite {
        margin:auto;
    }
}