@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');



html {
    height: 100%;
}

/** -------------------------------------Padding, Margins, Text, **/
body {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    color: #4C4C4C;
}


/* ------------------------------- Toasts section */

.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 999999999999;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 0;
}

.toast-body {
    height: auto;
    overflow-x: hidden;
    overflow-y: scroll;
}

/** -------------------------------------Background colours and Colours **/

.clr-grey {
    color: #8C8C8C !important;
}

.clr-red {
    color: #C35355;
}

.bg-brown {

    background-color: #BAA89B;

}

.bg-black {
    background-color: black;
}

.bg-logo-red {
    background-color: #C35355 !important;
}

.bg-grey, hr {

    background-color: #E6E4E7 !important;

}

.bg-orange {
    background-color: #FF862A;
}

.footer-bg-clr {

    background-color: #1A191B;
}

