{% extends 'base.html' %}
{% load static %}
{% block content %}

    <div class="container-fluid">
        <div class="row">
            <div class="col-12 m-auto p-3">
                <h1 class="text-center">500 Error</h1>
                <hr>
                <h4 class="text-center">
                    Sorry, something went wrong, please try again later or feel free to contact us!
                </h4>
                <br>
                <div>
                    <a href="{% url 'home' %}" class=" text-center btn bg-dark text-white rounded-1 p-2">
                        Return to home
                    </a>

                </div>
            </div>
        </div>
    </div>
{% endblock %}