{% extends 'base.html' %}

{% load static %}

{% block extra_title %} 
Contact form
{% endblock %}

{% block content %}

    <div class="container-fluid mb-3">
        <h2 class="text-white"><strong>Leave a comment below</strong></h2>
        <hr>
        <h6 class="text-center text-white"><u> Contact Us </u></h6>
        <br>
        <div class="row">
            <div class="col-lg-6 col-md-12 m-auto">
                <form method="POST" action="{% url 'contact_us' %}">
                    {% csrf_token %}
                    {{ contact_form | crispy }}
                    <div class="float-right">
                        <button class="btn bg-dark text-white rounded-1" type="submit"> Submit </button>
                        <a href="{{request.META.HTTP_REFERER}}" class="btn bg-logo-red rounded-1 text-white">Cancel</a>
                    </div>
                </form>
            </div>
        </div>
    </div>

{% endblock %}