<nav class="navbar navbar-expand-lg bg-light row">
    <div class="col-12 navbar-collapse text-center" id="navbarTogglerDemo02">
        <ul class="m-auto text-center fnt-size">
            <li class="d-inline p-2 ">
                <a href="{% url 'products' %}" class="btn-hover clr-grey">Shop</a>
            </li>
            <li class="d-inline p-2">
                <a class="btn-hover clr-grey" href="{% url 'products' %}?category=Portraits">Portraits</a>
            </li>
            <li class="d-inline p-2">
                <a class="btn-hover clr-grey" href="{% url 'products' %}?category=Landscapes">Landscapes</a>
            </li>
            <li class="d-inline p-2">
                <a class="btn-hover clr-grey" href="{% url 'products' %}?category=Weddings">Weddings</a>
            </li>
        </ul>
    </div>
</nav>


