<nav class="navbar navbar-expand-lg bg-light row">
    <div class="collapse navbar-collapse text-center" id="navbarTogglerDemo02">
        <ul class="m-auto text-center">
            <li class="d-inline p-2">
                <a href="{% url 'products' %}" class="btn-hover clr-grey">Shop</a>
            </li>
            {% for category in categories %}
            <li class="d-inline p-2">
                <a class="btn-hover clr-grey"
                    href=""></a>
            </li>
            {% endfor %}
        </ul>
    </div>
</nav>



