<li class="nav-item active list-inline-item">
    <a class="nav-link btn-hover clr-grey d-lg-none" href="{% url 'home' %}"><i class="fa-solid fa-house"></i> <span
        class="sr-only">(current)</span></a>
</li>
<li class="nav-item dropdown list-inline-item">
    <a class="nav-link dropdown-toggle clr-grey d-lg-none" href="#" role="button" data-toggle="dropdown"
        aria-expanded="false">
        <i class="fa-solid fa-user"></i>
    </a>

    <div class="dropdown-menu dropdown-menu-right">
        {% if request.user.is_authenticated %}
        {% if request.user.is_superuser %}
        <a class="dropdown-item clr-grey" href="{% url 'store_inbox' %}">Manage Inbox</a>
        <a class="dropdown-item clr-grey" href="{% url 'add_product' %}">Manage Products</a>
        <a class="dropdown-item clr-grey" href="{% url 'view_comments' %}">Manage Comments</a>
        <a class="dropdown-item clr-grey" href="{% url 'view_newsletter' %}">Manage Newsletter</a>
        {% endif %}
        <a class="dropdown-item clr-grey" href="{% url 'view_profile' %}">My profile</a>
        <a class="dropdown-item clr-grey" href="{% url 'contact_us' %}">Contact Us</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item clr-grey" href="{% url 'account_logout' %}">LogOut</a>
        {% else %}
        <a class="dropdown-item clr-grey" href="{% url 'account_login' %}">LogIn</a>
        <a class="dropdown-item clr-grey" href="{% url 'account_signup' %}">Register</a>
        {% endif %}
    </div>
</li>

<li class="nav-item active list-inline-item">
    <a href="{% url 'view_basket' %}" class="nav-link clr-grey btn btn-outline-secondary float-left d-lg-none">
        <i class="fa-solid fa-basket-shopping"></i>
        {% if product_count %}
            <span class="inline-flex badge badge-info">{{product_count}}</span>
        {% else %}
        {% endif %}
    </a>
</li>