{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Sign Out" %}{% endblock %}

{% block inner_content %}

<div>
  <h1><strong>{% trans "Sign Out" %}</strong></h1>
  <hr>
</div>

<p>{% trans 'Are you sure you want to sign out?' %}</p>

<form method="post" action="{% url 'account_logout' %}">
  {% csrf_token %}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
  {% endif %}
  <button type="submit" class="btn bg-dark text-white rounded-1">{% trans 'Sign Out' %}  &nbsp;<i class="fa-solid fa-arrow-right"></i></button>
  <a class="btn bg-dark text-white rounded-1" href="{% url 'home' %}">Home&nbsp;<i class="fa-solid fa-house"></i></a>
</form>


{% endblock %}
